body {
  
  height: 100%;
  margin: 0;
 }
 
h1 {
    text-align: center;
 }


 
nav {
  color: orange;
  text-align: center;
 }

 .featured-property {
   width: 800px;
 }
 
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
 
 p {
   text-align: center;
 }
 


 